.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.25);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: var(--background);
  color: var(--foreground);
  border-radius: 1rem;
  padding: 3rem 1.5rem 1.5rem 1.5rem;
  min-width: 320px;
  max-width: 90vw;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.18);
  position: relative;
  transition: background 0.2s, color 0.2s;
}

.closeBtn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #888;
  transition: color 0.2s;
  padding: 0;
}
.closeBtn:hover img {
  filter: invert(32%) sepia(99%) saturate(7490%) hue-rotate(357deg)
    brightness(99%) contrast(107%);
}

@media (max-width: 639px) {
  .modal {
    max-height: 80vh;
    overflow-y: auto;
    min-width: unset;
    width: 95vw;
    padding: 1rem 0.5rem 1rem 0.5rem;
  }
}
